::ng-deep .p-datatable .p-datatable-thead > tr > th {
    text-align: center;
    padding: 1rem 1rem;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px 0;
    font-weight: 600;
    color: #ffffff;
    background: #0f1a24;
}

::ng-deep .p-datatable .p-datatable-tbody > tr > td {
    text-align: center;
    border: 1px solid #e9ecef;
    border-width: 0 0 1px 0;
    padding: 1rem 1rem;
}
::ng-deep .p-datatable{
    border-radius: 10px;
    border-width: 0 0 1px 0;
}